# These temporary files are created by PAML.
# We do not need to include them in the git repo.
2NG.dN
2NG.dS
2NG.t
4fold.nuc
lnf
mlc
rst
rst1
rub

# Ignore temporary R files into the git repo.
.RData
.Rhistory

# Ignore Python profiling data.
profile_data.pyprof
